go 1.26.0

use (
	./pkg/assets
	./pkg/componentry
	./pkg/config
	./pkg/db
	./pkg/docs
	./pkg/kv
	./pkg/notification
	./pkg/queue
	./pkg/queue/pgstore
	./pkg/showcase
	./pkg/web
	./pkg/web/render
	./starter
	./tools
)
